// colors
$red: #fc4249;
$grey: #d7dadb;
$blue: #2c3e50;
$light-blue: #6dbcdb;
$rose: #b76e79;
$white: #fff;
$black: #000;

// fonts
$small: 16px;
$medium: 2px;
$big: 36px;

$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top: 90px;
$border-radius: 4px;